# EditorConfig is awesome: http://EditorConfig.org

root = true

[*]
end_of_line = lf
charset = utf-8
indent_style = space
insert_final_newline = true

[*.elm]
indent_size = 4
trim_trailing_whitespace = true

[*.{md,mkd,markdown}]
indent_size = 4
